name: Selenium Java Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Set up Maven
      run: mvn -version

    - name: Run TestNG Suite
      run: mvn clean test -DsuiteXmlFile=testng.xml

    - name: Upload TestNG Reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: TestNG-Reports
        path: target/surefire-reports
